.formulaire{
     position:relative;
     display: flex;
     justify-content:center;
     flex-direction:column;
     align-items:center;
     width:100%;
     padding:0px;
     margin:0px;
}

.formulaire .title{
      font-size:1.2em;
      text-align:center;
      padding:10px;
      width:100%;
      box-sizing:border-box;
      font-family:sans-serif;
      color:rgb(29, 29, 31);
}

#project_form{
      width:80%;
      margin:auto;
      background:white;
}

.formulaire .login_sign {
     position:relative;
     width:450px;
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     background:white;
}
.formulaire .login_sign .item{
    position:relative;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    margin:auto;
    padding:10px;
    box-sizing:border-box;
    flex:1;
}
.formulaire .login_sign .item label{
    display:block;
    font-size:1.1em;
    width:90%;
    margin:auto;
    padding:5px;
}
.formulaire .login_sign .item input{
    position:relative;
     display:block;
     width:90%;
     height:30px;
     font-size:1.1em;
     font-family:sans-serif;
     padding:6px;
     margin:auto;
     box-sizing:border-box;
     background-color:rgb(180, 213, 241);
}
.formulaire .login_sign .image{
      border-radius:2px;
      box-shadow:0px 0px 2px grey;
      width:20%;
      display:inline-block;
      text-align:center;
      text-transform:capitalize;
      opacity:0.8;
      cursor: pointer;
      margin-right:20px;
}
.formulaire .login_sign .image:hover{
     opacity:1;
}
.formulaire .login_sign #image{
    display: none;
}
.formulaire .login_sign #select_item{
     margin:auto;
     width:90%;
}
.formulaire .login_sign #select{
      position:relative;
      font-size:1.2em;
      width:auto;
}
.formulaire .login_sign .item textarea{
     width:90%;
     min-height:100px;
     box-sizing:border-box;
     font-size:1em;
     padding:6px;
     margin:auto;
     max-width:90%;
     background-color:rgb(180, 213, 241);
}
.formulaire .login_sign .item button{
      width:150px;
     font-size:1.2em;
     padding:5px;
     margin:auto;
     cursor:pointer;
     border:none;
     border-radius:2px;
     opacity:0.8;
}
.formulaire .login_sign .item button:hover{
    opacity:1;
}
.formulaire .login_sign .btn a{
      font-size:1.2em;
      color:black;
      margin:auto;
      opacity:0.6;
}
.formulaire .login_sign .btn a:hover{
     opacity:1;
}
.formulaire .btn_redirection{
     font-size:1.5em;
     display:inline-block;
     padding:8px;
     background-color:grey;
     color:white;
     cursor:pointer;
     border-radius:3px;
}
.formulaire .item p{
     font-size:1em;
     width:100%;
     box-sizing:border-box;
     padding:2px;
}
 
.formulaire .valid{
     background-color:initial;
     color:rgb(235, 94, 94);
     font-size:1em;
     text-align:center;
     margin:0px;
     text-align:center;
}

#form_commentaire .valid{
      color:red;
}
 
#form_commentaire #btn_item{
     flex-direction:row;
     justify-content:flex-start;
     width:70%;
     margin:auto;
}
#form_commentaire #btn_item button{
     margin:0px; 
     margin-left:1em;
}
/* form_commentaire */
#form_commentaire{
     width:100%;
 }
.formulaire .valid_msg{
     
       text-align:center;
       font-size:1.2em;
       background-color:rgb(240, 248, 246);
       padding:0.2em;
       box-sizing:border-box;
 }
 .formulaire .color{
       color:red;
 }
 .formulaire .title_p{
       width:50%;
       background-color:initial;   
 }
 
@media screen and (max-width:700px) {

     .formulaire .login_sign{
           width:350px;
     }
     #form_commentaire #btn_item button{
          margin:auto; 
          margin-left:auto;
          font-size:.8em;
           width:5em;
     }  
}