*{
     padding:0px;
     margin:0px;
}
.list{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    align-items:center;
    width:100%;
    font-family:sans-serif;
}
.list table caption{
       font-size:1.3em;
       color:royalblue;
}
.list table {
      position: relative;
      background-color: whitesmoke;
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
      width:90%;
      flex-grow:2;
}
.list table, table th ,table td{
   border: 1px solid black;
   border-collapse:collapse;
   box-sizing:border-box;
}
.list table thead,tbody{
     position:relative;
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:flex-start;
     width:100%;
}
.list table tr{
    position:relative;
    display:flex;
    flex-direction:row;
    width:100%;
}
.list table th:first-child{
    flex: 1;
}
.list table th{
     font-size:1.2em;
     flex:2;
}

.list table td:first-child{
    flex: 1;
    font-size: 1.5em;
}
.list table td{
     text-align:center;
     flex:2;
     display:flex;
     text-align:center;
}
.list table img{
     width:80px;
     height:30px;
     border-radius:5px;
}

.list table td a,.list .udpate{
     color:rgb(27, 29, 29);
     font-family:sans-serif;
     text-decoration:none;
     font-size:1em;
     display:inline-block;
     padding:5px;
     transition:all 0.3s;
     cursor:pointer;
     display:inline-block;
     margin:auto;
}
.list table td a:hover,.list .udpate:hover{
      color:rgb(206, 143, 169);
}
.list .invalid{
      font-size:1.2em;
      color:rgb(20, 19, 19);
      padding:0.6em 0.5em;
      box-sizing:border-box;
}

