.loader{
     display:flex;
     justify-content:center;
     align-items:center;
     width:100%;
     height:100%;
     position:absolute;
     margin:0px;
     padding:0px;
     z-index:99;
     
}
.loader  .gif{
     position:relative;
     width:60px;
     height:60px;
     margin:auto;
     border-radius:50%;
     background-color:rgb(247, 239, 239);
}