main{
         background-image: linear-gradient(to right,rgb(241, 120, 120),rgb(128, 128, 238));
         transition:all 0.5s;
         display:flex;
         justify-content:center;
         align-items:center;
         padding:1.5em;
         box-sizing:border-box;
         flex-direction:column;
         min-width:300px;
}

header{
      display:flex;
      justify-content:space-evenly;
      align-items:center;
      flex-direction:column; 
      flex-wrap:wrap; 
}

nav {
      padding:0px;
      margin:0px;
      width:100%;
      background-color:white;
      display:flex;
      justify-content:space-evenly;
      align-items:center;
      min-height:80px;
      flex-direction:row; 
      flex-wrap:wrap; 
      box-shadow:0px 0px 5px black;
      
}
.search_menu{
       position:absolute;
       top:0px;
       display:flex;
       width:90%;
       padding:0.5em; 
       margin:auto;
       flex-direction:column;
       justify-content:center;
       background-color:rgb(200, 229, 253);
       z-index:9;
}

nav .menu {
       margin:auto;
       display:flex;
       justify-content:space-evenly;
       align-items:center;
       flex-direction:row; 
       width:30%;
}

nav .menu a{
       text-decoration:none;
       color:black;
}
nav .menu a,nav .menu span{
        margin:auto;
        display:inline-block;
        font-size:1.2em;
        padding:0.3em 0.1px;
        width:20%;
        text-align:center;
        text-transform:capitalize;
        transition:all 0.6s;
        border-radius:5px;
        cursor:pointer;
}
nav .menu_1 a{
        width:25%
}

nav .menu a:hover{
      background-color:ghostwhite;
      color:rgb(146, 202, 219);  
}

nav .menu a i,nav .menu span i{
       font-size:1.2em;
}
nav .logo {
      flex-direction:column;
}

nav .logo a {
      margin:0px;
      padding:0.1em;
      color:black;
      font-size:1.2em;
      transition:all 0.5s;
      width:100%;
      transition: all 0.5;
}

nav .logo a:hover{
       background-color:initial;
       color:rgb(191, 223, 252);
}

nav .sign_login{
       margin:auto;
}
nav .sign_login a{ 
     
     width:60%;
     margin:auto 0.2em;
}
nav .sign_login a:hover{
       background-color:initial;
       color:rgb(146, 202, 219);  
}
header .invalid{
        text-align:left;
        font-size:1.3em;
        text-align:center;
        display:inline-block;
        width:80%;
        color:rgb(37, 36, 36);
}
.sign_login img{
        width:45px;
        height:45px;
        filter:saturate(1.2);
        border-radius:50%;
}

/* toggle */

header #toggle{
       position:absolute;
       z-index:99;
       width:400px;
       top:90px;
       left:10px;
       background-color: rgba(233, 233, 225);
       padding:0em;
       display:flex;
       justify-content:flex-start;
       align-items:flex-start;
       flex-direction:column;
 }
 header #toggle ul{
        list-style: none;
        padding:0px;
        margin:auto; 
        width:100%;
        padding:0.5em;
        background-color: rgb(248, 246, 244);  
        box-sizing:border-box;
        
 }
 
 header #toggle ul li{
         width:100%;
         box-sizing:border-box;
         border-bottom:1px solid white;
         
 }
 header #toggle ul .suggestion{
         font-size:1.5em;
         color: lightblue;
 }
 header #toggle ul li:last-child{
         border-bottom:initial;

 }
 header #toggle ul li a{
         text-decoration:none;
         color:black;
         width:80%;
         font-size:1.2em;
         padding:0.5em;
         display:inline-block;
         box-sizing:border-box;
         transform:all 0.6s;
 }
 header #toggle ul li a:hover{
       color:rgb(250, 171, 171);
 }
 header #toggle img{
         height:50px;
         width:50px;
 }

 header #toggle span{
       color:rgb(8, 134, 134);
 }

@media screen and (max-width:700px){
        nav .menu{
               width:100%;
               padding:0.5em;
        }
        
        nav .logo {
               order:-1;
               flex-direction:column;
               width:100%;
        }
        header #toggle{
              width:90%;
              top:210px;
              left:0px;
              margin-left:5%;
        }
          
}